[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[credential]
	helper = cache --timeout 21600
[user]
	name = Nicholas Dille
[init]
	defaultBranch = main
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = true

[includeif "hasconfig:remote.*.url:https://github.com/nicholasdille/*"]
    path = .gitconfig-private
[includeif "hasconfig:remote.*.url:https://github.com/uniget-org/*"]
    path = .gitconfig-private
[includeIf "hasconfig:remote.*.url:https://gitlab.com/nicholasdille/**"]
    path = .gitconfig-private
[includeIf "hasconfig:remote.*.url:https://gitlab.com/uniget-org/**"]
    path = .gitconfig-private
[includeIf "hasconfig:remote.*.url:https://gitlab.haufedev.systems/**"]
    path = .gitconfig-haufe
[includeIf "hasconfig:remote.*.url:https://dillen@gitlab.haufedev.systems/**"]
    path = .gitconfig-haufe
[includeIf "hasconfig:remote.*.url:https://gitlab.com/dos-devinfra/**"]
    path = .gitconfig-haufe

[credential "https://github.com/nicholasdille"]
    #helper = "!pp git-github-nicholasdille"
    useHttpPath = true
    helper = oauth
[credential "https://github.com/uniget-org"]
    #helper = "!pp git-github-uniget"
    useHttpPath = true
    helper = oauth
[credential "https://gitlab.com/dos-devinfra"]
    helper = "!ph git-gitlabcom-dos"
    useHttpPath = true
[credential "https://gitlab.com/uniget-org"]
    #helper = "!pp git-gitlabcom"
    useHttpPath = true
    helper = oauth
[credential "https://gitlab.com"]
    helper = "!pp git-gitlabcom"
    useHttpPath = true
[credential "https://gitlab.haufedev.systems"]
    #helper = "!ph git-gitlab-live"
    helper = oauth
    oauthclientId = "f716135ae08b09efdf5b8bf0767b1833760296bdf6d58a63abd59fc44b58fcad"
[credential "https://gitlab-qa.haufedev.systems"]
    helper = "!ph git-gitlab-qa"

[alias]
    lg  = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit"
    lgg = "log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"

