[push]
    default = simple
[credential]
    helper = store
[user]
    name = Nicholas Dille
[includeif "gitdir:**/.cfg"]
    path = .gitconfig-private
[includeif "gitdir:**/haufe/**"]
    path = .gitconfig-haufe
[includeif "gitdir:**/private/**"]
    path = .gitconfig-private
[includeif "gitdir:/home/linuxbrew/**"]
    path = .gitconfig-private
[alias]
    lg  = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit"
    lgg = "log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
